################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#directory
Debug/
Debug

#extension
*.opendb
*.db
*.filters
*.suo
*.VC.db
